<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Bros Lib</title>
    <link rel="stylesheet" href="style.css">
    <link class="icon" rel="shotcut icon" href="../assets/mario.png">
</head>

<body>
    <header>
        <div>
            <h1>Mario Bros Lib</h1>
            <h2>Aqui temos alguns personagens e suas caracteristicas do jogo Mario Word!</h2>
        </div>
        <div>
            <div class="card-container">
                <div class="card" id="Mario">
                    <div class="character-name-bg">Mario</div></div>
                <div class="card" id="Luigi">
                    <div class="character-name-bg">Luigi</div></div>
                <div class="card" id="Yoshi">
                    <div class="character-name-bg">Yoshi</div></div>
                <div class="card" id="Peach">
                    <div class="character-name-bg">Peach</div></div>
                <div class="card" id="Bowser">
                    <div class="character-name-bg">Bowser</div></div>
                <div class="card" id="Toad">
                    <div class="character-name-bg">Toad</div></div>
                <div class="card" id="Toadette">
                    <div class="character-name-bg">Toadette</div></div>
            </div>
        </div>

    </header>
    <script src="../api/index.js"></script>
</body>

</html>